

body{
	font-family: 'Acme', sans-serif;
	font-size: 30px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url("../images/BG.png");
}

h1{
	float: left;
    font-family: 'Acme', sans-serif;
    font-size: 86px;
    margin: 0px;
    padding: 0;
    position: relative;
    z-index: 20;
    color: #fff;
    text-shadow: black -2px 3px 1px;
}

section {
	/*color: antiquewhite;
*/	padding: 4%;
	margin: 0 7% 3% 7%;
	position: relative;  
    top: -18px;  
    line-height: 35px;
    clear: both;
}



.startGame {
    background-color: lightblue;
    padding-top: 0;
    padding-bottom: 0;
    opacity: .85;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#intro {
    position: relative;
}

.ans {
	cursor: pointer;
	margin: 5px;
}

#finalAns {
	position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    padding: 8%;
    box-sizing: border-box;
    font-size: 30px;
    line-height: 42px;
    background-repeat: no-repeat;
    background-position: right top; 
}

#score {
    font-size: small;
    padding-top: 8px;
}
#choices {
    display: none;
}
#choices ol {
    position: relative;
}

button {    
    display: block;
    margin: auto;
    padding: 2%;
    font-size: 48px;
    font-family: 'Acme', sans-serif;
    margin-top: 4%;
    float: left;
    background-color: #336699;
    border-color: white;
    border-radius: 7px;
    color: white;
}

@media screen and (max-width: 750px) {
    #timer {
        font-size: 12px;
    }
    h1 {
        font-size: 65px;
    }
    section {
        top: 0;
    }
}
@media screen and (max-width: 550px) {
    #score {
        clear: both;
    }
    .totalScore {
        width: 35%;
    }
}